
body{
   
    background-image: linear-gradient(to bottom right, #f2f77a, #036bf8);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.10rem;
    

}

a{
    color: white;
    text-decoration: none;
}

.container{
    width:  1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 30 px;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;

}

.main2{
    min-height: 300px;
    padding-top: 50px;
}


.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
   
}

.card1{
    background-image: url(img/img-02.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 30px;
    min-height: 250px;
    width: 30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 15px;
}

.card2{
    background-image: url(img/img-03.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 30px;
    min-height: 250px;
    width: 30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 15px;
}

.card3{
    background-image: url(img/img-04.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 30px;
    min-height: 250px;
    width: 30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 15px;
}

.herobox1 {
    width: 50%;
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    width: 50%;
    flex: 1;
}

h1{
    font-size: 3.125rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.288)

}

p {
    line-height: 1.35rem;
    margin-bottom: 0.5rem;
    

}

h2{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    margin: 25px;
}

.cards p{
    font-size: 0.95rem;
    line-height: 1rem;
    margin: 10px 30px 20px 30px;

    font-family: 'Raleway', sans-serif;

}

.cards a{
    color: white;
    text-decoration: none;
}

.mybuttontop{
    background-color: rgb(251, 250, 252);
    color: rgb(24, 39, 243);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.288);
    padding: 11px 25px;
    border-radius: 15px 0px 15px 0px;
}

.mybutton{
    background-color: rgb(251, 250, 252);
    color: rgb(24, 39, 243);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.288);
    padding: 11px 25px;
    border-radius: 0px 15px 15px 0px; 
}

.mybutton:hover{
    background-color: #086fff;
    color: white;
    transition-duration: 1s;
}

a.mybutton{
    display: inline-block;
    margin-top: 20px;

    
}

nav a.mybutton{
    margin-left: 20px;

}

.navbutton{
    border:  1px solid white;
    padding: 10px 25px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    
}

.testemunhos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;

}

.tbox{
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;

}

.tbox :last-child{
    font-size: .8rem;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;

}

.navbutton:hover .dropdown{
    display: block;
}

.dropdown .navbutton {
    width: 120px;
    background-color: cornflowerblue;
}

.inputwrapper{
    margin-bottom: 20px;

}

input[type=text],[type=email], textarea{
    padding: 12px 20px 12px 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

.newline{
    display: block;
    margin-bottom: 10px;
}

.margin-rigth-a{
    margin-right: 10px;
}

input[type=radio] {
    margin-right: 5px;
}

form{
    margin: 40px 0px;
}